/*
CSS for a flip calendar adapted from
http://www.sitepoint.com/create-calendar-icon-html5-css3/
 */
/*body
{
  font-family: "Helvetica Neue Bold", arial, helvetica, sans-serif;
  font-size: 100%;
  margin: 10px;
  color: #333;
  background-color: #cecece;
}*/

h1
{
  margin: 0;
  font-weight: normal;
}

time.icon
{
  font-size: 1em; /* change icon size */
  display: block;
  position: relative;
  width: 10em;
  height: 10em;
  background-color: #fff;
  margin: 2em auto;
  border-radius: 0.6em;
  box-shadow: 0 1px 0 #bdbdbd, 0 2px 0 #fff, 0 3px 0 #bdbdbd, 0 4px 0 #fff, 0 5px 0 #bdbdbd, 0 0 0 1px #bdbdbd;
  overflow: hidden;
}

time.icon *
{
  display: block;
  width: 100%;
  font-size: 1.5em;
  font-weight: bold;
  font-style: normal;
  text-align: center;
}

time.icon strong
{
  position: absolute;
  top: 0;
  padding: 0.4em 0;
  color: #fff;
  background-color:red;
  box-shadow: 0 2px 0 red;
}

time.icon em
{
  position: absolute;
  bottom: 0.3em;
  color: red;
}

time.icon span
{
  width: 100%;
  font-size: 3.5em;
  letter-spacing: -0.05em;
  padding-top: 1.0em;
  color: #2f2f2f;
}
